    {% extends 'layouts/layout.html' %} 

    <!--Django es inteligente a encontrar layouts aunque esten en otro lado del proyecto-->


    {% block title %}
    {{articulo.titulo}}
    {% endblock%}

{% block contenido %}
        <!--save convierte a código de la plantilla-->
    <h1 class="title">{{articulo.titulo}} </h1>
    {%if messages%}
        {%for message in messages%}
            <div class="message">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}

    {% include 'articles/articles.html' %}

    {%include 'articles/pagination.html'%}
    

{% endblock  %}